.buttonclass{
    background-color: aquamarine;
    border-radius: 5vh;
    color: blueviolet;
}
.buttonclass1{
    background-color: crimson;
    border-radius: 5vh;
    color: black;
}
.formCss{
    background-color: darkcyan;
    color: black;
    margin-left: 50;
    border:1px solid;
    width: 50vh;
    height: 40vh;
}